* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    font-family: 'Staatliches', cursive;
    background-color: black;
}

header {
    background-color: black;
    height: 90px;
    padding: 25px;
}

.header {
    color: white;
    font-size: 30px;
}

.nav-btn {
    float: right;
    border-style: none;
    background-color: rgba(0, 0, 0, 0);
    font-family: inherit;
    cursor: pointer;
}

.title-btn {
    float: left;
}

.title {
    float: left;
    width: 25%;
}

.navigation {
    float: left;
    width: 75%
}

.nav-btn:hover {
    color: rgb(221, 221, 221);
}

.nav-div {
    float: left;
    width: 25%;
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(https://mobileimages.lowes.com/marketingimages/c8cc602a-7796-4115-84cf-710578aeccdf/blinds-and-window-shades-og.png);
    opacity: 0.5;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.contents {
    position: relative;
    text-align: center;
    padding-top: 300px;
    padding-bottom: 300px;
    font-size: 100px;
}

.home {
    position: relative;
    display: block;
    background-color: white;
}

.our-mission {
    display: none;
}

.check-btn {
    border-style: none;
    background-color: rgb(226, 67, 67);
    color: white;
    padding: 15px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 25px;
    font-family: inherit;
}

.check-btn:hover {
    background-color: rgb(236, 72, 72);
}

.page-head {
    padding: 50px;
    font-size: 100px;
    background-color: rgb(41, 41, 41);
    color: white;
}

.main-body {
    padding: 15%;
    background-color: black;
    font-size: 50px;
    color: white;
}

.our-team {
    display: none;
}

.works-cited {
    display: none;
}

#works-cited-body {
    text-align: center;
}

.our-work {
    display: none;
}

.work-img {
    width: 75%;
    border-radius: 25px;
    margin: 50px;
    border-width: 15px;
    border-style: solid;
    border-color: rgb(41, 41, 41);
}
